In [1]:
import numpy as np
import pandas as pd
train_set = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header = None)
test_set = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test" , skiprows = 1, header = None)
col_labels = ["age", "workclass", "fnlwgt", "education","education_num","marital_status", "occupation","relationship", "race", "sex", "capital_gain",
"capital_loss", "hours_per_week", "native_country", "wage_class"]
train_set.columns = col_labels
test_set.columns = col_labels

In [2]:
df = pd.concat([test_set,train_set],axis=0)

In [3]:
df["workclass"].replace({' ?':df.workclass.mode().iloc[0]},inplace=True)
df.occupation.replace({' ?':df.occupation.mode().iloc[0]},inplace=True)
df.native_country.replace({' ?':df.native_country.mode().iloc[0]},inplace=True)

In [4]:
df["wage_class"].replace({' <=50K.':' <=50K'},inplace=True)
df["wage_class"].replace({' >50K.':' >50K'},inplace=True)

In [5]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [6]:
categorical_features = [i for i in x.columns if df[i].dtype=="object"]

In [7]:
new_x_dummies = pd.get_dummies(x[categorical_features],drop_first=True)

In [8]:
new_x_dummies = pd.concat([x,new_x_dummies],axis=1)

In [11]:
new_x_dummies.drop(categorical_features,axis=1,inplace=True)

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [13]:
one_hot_encoder = OneHotEncoder(drop='first',dtype=int)
encoded_frame = pd.DataFrame((one_hot_encoder.fit_transform(x[categorical_features])).toarray())

In [14]:
new_x_one = x.join(encoded_frame)

In [15]:
new_x_one.drop(categorical_features,axis=1,inplace=True)

In [16]:
new_x_one

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,0,1,2,3,...,81,82,83,84,85,86,87,88,89,90
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
0,39,77516,13,2174,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
32559,22,201490,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
new_x_dummies

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,25,226802,7,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,18,103497,10,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,9,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [41]:
for i in range(44842):    
    l1 = list(new_x_dummies.iloc[0])
    l2 = list(new_x_one.iloc[0])
    if(l1!=l2):
        print(i)
        print(False)