In [1]:
import numpy as np
import pandas as pd
train_set = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", header = None)
test_set = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test" , skiprows = 1, header = None)
col_labels = ["age", "workclass", "fnlwgt", "education","education_num","marital_status", "occupation","relationship", "race", "sex", "capital_gain",
"capital_loss", "hours_per_week", "native_country", "wage_class"]
train_set.columns = col_labels
test_set.columns = col_labels

In [19]:
df = pd.concat([test_set,train_set],axis=0)

In [20]:
df["workclass"].replace({' ?':df.workclass.mode().iloc[0]},inplace=True)
df.occupation.replace({' ?':df.occupation.mode().iloc[0]},inplace=True)
df.native_country.replace({' ?':df.native_country.mode().iloc[0]},inplace=True)

In [21]:
df["wage_class"].replace({' <=50K.':' <=50K'},inplace=True)
df["wage_class"].replace({' >50K.':' >50K'},inplace=True)

In [22]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [23]:
categorical_features = [i for i in x.columns if df[i].dtype=="object"]

In [24]:
new_x_dummies = pd.get_dummies(x[categorical_features],drop_first=False)

In [25]:
new_x_dummies = pd.concat([x,new_x_dummies],axis=1)

In [26]:
new_x_dummies.drop(categorical_features,axis=1,inplace=True)

In [27]:
from sklearn.preprocessing import OneHotEncoder

In [29]:
one_hot_encoder = OneHotEncoder(dtype=int,drop=None)
encoded_frame = pd.DataFrame((one_hot_encoder.fit_transform(x[categorical_features])).toarray())

In [30]:
new_x_one = x.join(encoded_frame)

In [31]:
new_x_one.drop(categorical_features,axis=1,inplace=True)

In [32]:
new_x_one

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,0,1,2,3,...,89,90,91,92,93,94,95,96,97,98
0,25,226802,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
0,39,77516,13,2174,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
32559,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [33]:
new_x_dummies

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native_country_ Portugal,native_country_ Puerto-Rico,native_country_ Scotland,native_country_ South,native_country_ Taiwan,native_country_ Thailand,native_country_ Trinadad&Tobago,native_country_ United-States,native_country_ Vietnam,native_country_ Yugoslavia
0,25,226802,7,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,38,89814,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,28,336951,12,0,0,40,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,160323,10,7688,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,18,103497,10,0,0,30,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,257302,12,0,0,38,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32557,40,154374,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32558,58,151910,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32559,22,201490,9,0,0,20,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32560,52,287927,9,15024,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [34]:
list(new_x_dummies.iloc[32559])==list(new_x_one.iloc[32559])

False

In [39]:
from sklearn.model_selection import train_test_split

In [40]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [47]:
x_train_one,x_test_one,y_train_one,y_test_one = train_test_split(new_x_one,y,test_size=0.25,random_state=100)

In [48]:
x_train_one

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,0,1,2,3,...,89,90,91,92,93,94,95,96,97,98
16844,53,122412,13,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18697,60,148522,10,0,0,40,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
20244,20,224424,8,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
12473,26,133766,7,0,0,35,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9605,22,100345,13,13550,0,55,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8152,18,406491,10,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
39,48,265477,12,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6059,35,163582,6,0,0,16,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7073,56,160932,9,0,0,44,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22127,45,175925,9,0,0,40,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [42]:
import xgboost

In [73]:
xgclassifier_one = xgboost.XGBClassifier(use_label_encoder=False)

In [74]:
xgclassifier_one.fit(x_train_one,y_train_one)

[17:39:20] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [75]:
xgclassifier_one.score(x_train_one,y_train_one)

0.7968933417051132

In [76]:
xgclassifier_one.score(x_test_one,y_test_one)

0.7628367865039718

In [83]:
## now by using dummies

In [78]:
x_train_dum,x_test_dum,y_train_dum,y_test_dum = train_test_split(new_x_dummies,y,test_size=0.25,random_state=100)

In [79]:
xgclassifier_dum = xgboost.XGBClassifier(use_label_encoder=False)

In [80]:
xgclassifier_dum.fit(x_train_dum,y_train_dum)

[17:39:29] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=False,
              validate_parameters=1, verbosity=None)

In [81]:
xgclassifier_dum.score(x_train_dum,y_train_dum)

0.8976822909557479

In [82]:
xgclassifier_dum.score(x_test_dum,y_test_dum)

0.8682335599050037